.info-container {
    background-color: rgba(0, 0, 0, 0.7);
    color: #f5e9e9;

    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;

    font-size: 24px;
}

h2 {
    font-size: 64px;
}