#content.menu {
    padding: 0;
    height: 100%;
}

.menu-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 32px;
    padding: 32px 0;
}

li {
    background-color: rgba(0, 0, 0, 0.7);
    color: #f5e9e9;

    width: 900px;

    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 32px;

    border-radius: 20px;
}

img {
    width: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container h3 {
    font-size: 32px;
    text-decoration: underline;
}

.price {
    font-size: 32px;
}

